.videoCard {
  color: #fff;
  width: 400px;
  height: 400px;
  padding: 20px;
  cursor: pointer;
  transition: transform 100ms;
}
.videoCard:hover {
  transform: scale(1.05);
}
.videoCard:hover > .videoCard__stats {
  display: inline;
}

.videoCard__img {
  height: 280px;
  object-fit: cover;
  width: 400px;
  margin-bottom: 8px;
}

.videoCard__title {
  padding-top: 10px;
}

.videoCard__stats {
  display: none;
}

.videoCard__stats svg {
  margin-bottom: -5px;
}

.readOn {
  color: #fff;
  opacity: 0.5;
  font-size: 14px;
}
